<div id="login-page center-align" class="row">
    <div class="col s4 center card-panel">
      <form class="login-form " (ngSubmit)="insertSkils()">
        <div class="row">
          <div class="input-field col s8">
          
            <p class="center login-form-text" >Add Skils</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s10">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="nam" type="text " name = "nam" [(ngModel)]="data.nam">
            <label for="nam" class="center-align">Username</label>
          </div>
        </div>
        
        <div class="row margin">
          <div class="input-field col s10">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="Telf" type="tel" name = "Telf" [(ngModel)]="data.Telf">
            <label for="Telf" class="center-align">Telf</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s10">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="Address" type="text" name = "Address" [(ngModel)]="data.Address">
            <label for="Address" class="center-align">Address</label>
          </div>
        </div><div class="row margin">
          <div class="input-field col s10">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="Skils" type="text" name = "Skils" [(ngModel)]="data.Skils">
            <label for="Skils" class="center-align">Skils</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s10">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="prix" type="number" name = "prix" [(ngModel)]="data.prix">
            <label for="prix">prix</label>
          </div>
        </div>
       
       
        
            <button  type="submit" class="btn btn-success" >Register</button>
         
        


      </form>
    </div>
  </div>