<div class="valign-wrapper row login-box" style="margin-top: 8%;">
  <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
      <form class="login-form " (ngSubmit)="insertSkils()">
        <div class="card-content">
            <span class="card-title">Add Skils</span>
     <div class="row">
          
      
       
          <div class=" input-field col s12">
           
            <input id="nam" type="text " class="validate" name = "nam" [(ngModel)]="data.nam">
            <label for="nam"  >Username</label>
          </div>
      
        
      
          <div class=" input-field col s12">
           
            <input id="Telf" type="tel" class="validate" name = "Telf" [(ngModel)]="data.Telf">
            <label for="Telf"   >Telf</label>
          </div>
       
         
          <div class=" input-field col s12">
           
            <input id="Address" type="text" class="validate" name = "Address" [(ngModel)]="data.Address">
            <label for="Address"   >Address</label>
          </div>
       
          <div class=" input-field col s12">
           
            <input id="Skils" type="text" class="validate" name = "Skils" [(ngModel)]="data.Skils">
            <label for="Skils"   >Skils</label>
          </div>
        
         
          <div class=" input-field col s12">
          
            <input id="prix" type="number" class="validate" name = "prix" [(ngModel)]="data.prix">
            <label for="prix">prix</label>
          </div>
        </div>
       
       
        
            <button  type="submit" class="btn btn-success" >Register</button>
         
        

          </div>
      </form>
    </div>
  </div>