<table>
  <thead>
    <tr>
        <th> </th>
        <th> Name</th>
        
        <th> Skil</th>
        <th> prix</th>
        <th> detaills</th>
      
    </tr>
  </thead>

  <tbody>
      <tr *ngFor="let item of myItemArry ; let index = index ;">
          <td >{{index+1}}</td>
      <td>{{item.nam}}</td>
     
      <td>{{item.Skil}}</td>
      <td>{{item.prix}}</td>
   
      <td><a class="btn-floating btn-large waves-effect waves-light green" (click)="ondetail(item.$key)"><i class="material-icons">details</i></a></td> 

<!-- Modal Structure -->

    </tr>
   
  </tbody>
</table>



  
   