


<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" routerLink="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="home" routerLinkActive="active">home</a></li>
      
        <li><a routerLink="addskils">Add</a></li>
        <li><a routerLink="login">Login</a></li>

        <li><a routerLink="register">Register</a></li>
        <li><a routerLink="skils">skils</a></li>
        <li><a routerLink="myskils">My skils</a></li>
       
    

      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a routerLink="#">Add</a></li>
        <li><a routerLink="#">logout</a></li>

        <li><a routerLink="#">metie</a></li>
        <li><a routerLink="#">metiers</a></li>
        <li><a routerLink="#">My metiers</a></li>
      </ul>
      <a routerLink="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>



