


<nav class="deep-purple darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" routerLink="home" class="brand-logo">{{email}}</a>
      <ul class="right hide-on-med-and-down">
        
      
        <li><a *ngIf="isLoggedIn" routerLink="addskils">Add</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="login" routerLinkActive="active">Login</a></li>
        <li *ngIf="isLoggedIn"><a (click)="logout()">LogOut</a></li>

        <li *ngIf="!isLoggedIn"><a routerLink="register">Register</a></li>
        <li><a *ngIf="isLoggedIn" routerLink="skils">skils</a></li>
        <li><a *ngIf="isLoggedIn" routerLink="myskils">My skils</a></li>
       
    

      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a routerLink="home" routerLinkActive="active">home</a></li>
     
        <li><a *ngIf="isLoggedIn" routerLink="addskils">Add</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="login" routerLinkActive="active">Login</a></li>
        <li *ngIf="isLoggedIn"><a (click)="logout()">LogOut</a></li>

        <li *ngIf="!isLoggedIn"><a routerLink="register">Register</a></li>
        <li><a *ngIf="isLoggedIn" routerLink="skils">skils</a></li>
        <li><a *ngIf="isLoggedIn" routerLink="myskils">My skils</a></li>
       
      </ul>
      <a routerLink="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>



