





<div class="valign-wrapper row login-box" style="margin-top: 8%;">
  <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
    <form (ngSubmit)="login()">
      <div class="card-content">
        <span class="card-title">Enter credentials</span>
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="email" class="validate" name = "email" [(ngModel)]="email">
              <label for="username">Email</label>
          </div>
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" name = "password" [(ngModel)]="password">
              <label for="password">Password</label>
          </div>
        </div>
      </div>
      <div class="card-action right-align">
        <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
        <input type="submit" class="btn green waves-effect waves-light "(click)="register()" value="register">
      </div>
    </form>
  </div>
</div>