<table>
  <thead>
    <tr>
        <th>key</th>
        <th> Name</th>
        <th> Telephone</th>
        <th> Addrss</th>
        <th> Skil</th>
        <th> prix</th>
        <th> edite</th>
        <th> delete</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of myItemArry">
      <td  *ngIf="item.uid === uid">{{item.$key}}</td>
      <td  *ngIf="item.uid === uid">{{item.nam}}</td>
      <td *ngIf="item.uid === uid">{{item.Telf}}</td>
      <td *ngIf="item.uid === uid">{{item.Addrss}}</td>
      <td *ngIf="item.uid === uid">{{item.Skil}}</td>
      <td *ngIf="item.uid === uid">{{item.prix}}</td>
      <td *ngIf="item.uid === uid"><a class="btn-floating btn-large waves-effect waves-light green  modal-trigger" href="#i" (click)="onEdite(item.$key,item.nam,item.Telf,item.Addrss,item.Skil,item.prix)"><i class="material-icons">create</i></a></td>
      <td *ngIf="item.uid === uid"><a class="btn-floating btn-large waves-effect waves-light red" (click)="onDellet(item.$key)"><i class="material-icons">delete_forever</i></a></td>

      

<!-- Modal Structure -->

    </tr>
   
  </tbody>
</table>



<div id="i" class="modal">
      
  <form class="login-form " (ngSubmit)="onSub()">
    <div class="row">
      <div class="input-field col s8">
      
        <p class="center login-form-text" >Add Skils</p>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s10">
        <i class="mdi-social-person-outline prefix"></i>
        <input id="nam" type="text " name = "nam" [(ngModel)]="nam">
        <label for="nam" class="center-align">Username</label>
      </div>
    </div>
    
    <div class="row margin">
      <div class="input-field col s10">
        <i class="mdi-social-person-outline prefix"></i>
        <input id="Telf" type="tel" name = "Telf" [(ngModel)]="Telf">
        <label for="Telf" class="center-align">Telf</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s10">
        <i class="mdi-social-person-outline prefix"></i>
        <input id="Address" type="text" name = "Address" [(ngModel)]="Addrss">
        <label for="Address" class="center-align">Address</label>
      </div>
    </div><div class="row margin">
      <div class="input-field col s10">
        <i class="mdi-social-person-outline prefix"></i>
        <input id="Skils" type="text" name = "Skils" [(ngModel)]="Skils">
        <label for="Skils" class="center-align">Skils</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s10">
        <i class="mdi-action-lock-outline prefix"></i>
        <input id="prix" type="number" name = "prix" [(ngModel)]="prix">
        <label for="prix">prix</label>
      </div>
    </div>
   
   
    
    
     
    


  </form>

<div class="modal-footer">
<a type="submit" class="modal-close waves-effect waves-green btn-flat "(click)="onEditeForm()">Register</a>
</div>



</div>


  
   